# ------- Cluster --------#
cluster.name: {{ elastic_cluster_name }}

# ------- Node ---------#
node.name: {{ ansible_hostname }}

# ------- Memory --------#
bootstrap.memory_lock: false

# ------- Network --------#
network.host: [_local_, _site_]
http.port: 9200

discovery.seed_hosts: ["{{ ansible_hostname }}"]
cluster.initial_master_nodes: ["{{ ansible_hostname }}"]

node.master: {{ elastic_node_master }}
node.data: {{ elastic_node_data }}
node.ingest: {{ elastic_node_ingest }}
node.ml: {{ elastic_node_ml }}

