server.port: {{ kibana_web_port }}
server.host: "{{ ansible_hostname }}"
elasticsearch.hosts: ["http://{{ groups['elastic'][0] }}:9200"]

# If enable user authnetication:
#
#elasticsearch.username: "kibana"
#elasticsearch.password: "pass"

